---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <main>
        <div class="sideNav"></div>
        <section class="content">
            <h2>Sample Page</h2>
            <p>このページはサンプルコードを記載するページです</p>
        </section>
    </main>
</Layout>