---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import topImage from "../assets/toppage.jpg";
---

<Layout>
    <main>
        <picture>
            <Image src={topImage} alt="toppageImage" width={800} />
        </picture>
    </main>
</Layout>