---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <nav>
        <ul>
            <li><a href="./sample01/">sample01</a></li>
            <li><a href="./sample01/">sample01</a></li>
            <li><a href="./sample01/">sample01</a></li>
        </ul>
    </nav>
</Layout>